@import "variables";
@import "functions";

/*========================================

#Format container

========================================*/
.container-fluid{
  width         : 100%;
  padding-left  : 15px;
  padding-right : 15px;
  margin-left   : auto;
  margin-right  : auto;
}

.container{
  width         : 100%;
  padding-left  : 15px;
  padding-right : 15px;
  margin-left   : auto;
  margin-right  : auto;
}

.container{
  @media (min-width : $width-iPad){
    width : 750px;
  }
  @media (min-width : $width-iPadPro){
    width : 970px;
  }
  @media (min-width : $width-laptop){
    width : 1170px;
  }
  @media (min-width : $width-fhd){
    width : 1700px;
  }
  @media (min-width : $width-wqhd){
    width : 2400px;
  }
}

.row{
  display       : flex;
  flex-wrap     : wrap;
  -ms-flex-wrap : wrap;
  margin-left   : -15px;
  margin-right  : -15px;
}

/*========================================

#Format system

========================================*/
//Generate format system
@each $prefix, $breakpoints in ("common", 0), ("iPad", $width-iPad), ("iPadPro", $width-iPadPro), ("laptop", $width-laptop), ("fhd", $width-fhd), ("wqhd", $width-wqhd){
  @media (min-width : $breakpoints){
    @each $suffix in "", -pull, -push, -offset{
      @for $i from 1 through 12{
        .col-#{$prefix}#{$suffix}-#{$i}{
          position : relative;
          @include format_suffix_loop($suffix, 12, $i);
        }
      }
    }
  }
}

//Generate expand columns for FullHD and WQHD
@each $format-prefix, $format-width in ("fhd-expand", $width-fhd), ("wqhd-expand", $width-wqhd){
  @media (min-width : $format-width){
    @each $format-suffix in "", -pull, -push, -offset{
      @for $i from 1 through 16{
        .col-#{$format-prefix}#{$format-suffix}-#{$i}{
          position : relative;
          @include format_suffix_loop($format-suffix, 16, $i);
        }
      }
    }
  }
}

/*========================================

#Format tools

========================================*/
.text-center{
  text-align : center;
}

.center-block{
  display      : block;
  margin-left  : auto;
  margin-right : auto;
}

.show{
  display : block !important;
}

.hide{
  display : none !important;
}

@each $hidden-media, $hidden-name in (0, "common"), ($width-iPad, "iPad"), ($width-iPadPro, "iPadPro"), ($width-laptop, "laptop"), ($width-fhd, "fhd"), ($width-wqhd, "wqhd"){
  @media (min-width : $hidden-media){
    .hidden-#{$hidden-name}{
      display : none !important;
    }
    .hidden-#{$hidden-name}-inline{
      display : inline !important;
    }
    .hidden-#{$hidden-name}-block{
      display : block !important;
    }
    .hidden-#{$hidden-name}-inline-block{
      display : inline-block !important;
    }
  }
}

@media print{
  .hidden-print{
    display : none !important;
  }

  .visible-print-inline{
    display : none !important;
  }

  .visible-print-block{
    display : none !important;
  }

  .visible-print-inline-block{
    display : none !important;
  }
}
