//========================================
//
//  #Breakpoints variables
//
//========================================
$width-iPad : 768px;
$width-iPadPro : 1024px;
$width-laptop : 1366px;
$width-fhd : 1920px;
$width-wqhd : 2560px;

//========================================
//
//  #Layer z-index variables
//
//========================================
$layer-normal : 100;
$layer-hold : 150;
$layer-fixed : 200;
$layer-interface-backdrop : 350;
$layer-interface : 400;
$layer-sticky : 500;
$layer-modal-backdrop : 550;
$layer-modal : 600;

//========================================
//
//  #Unicode range variables
//
//========================================

$unicode-range-CN : U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D;
$unicode-range-JP : U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
$unicode-range-EN : U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

//========================================
//
//  #Font family variables
//
//========================================

$font-family-global : "'Noto Sans SC', 'Noto Sans JP', 'Noto Sans', 'Microsoft Yahei', 'PingFang', 'MS Mincho', 'Hiragino Sans', 'Helvetica Neue', 'sans-serif'";

//========================================
//
//  #Color variables
//
//========================================
$galaxy-background : #0E111E;
$Color-Red-50 : #FFEBEE;
$Color-Red-100 : #FFCDD2;
$Color-Red-200 : #EF9A9A;
$Color-Red-300 : #E57373;
$Color-Red-400 : #EF5350;
$Color-Red-500 : #F44336;
$Color-Red-600 : #E53935;
$Color-Red-700 : #D32F2F;
$Color-Red-800 : #C62828;
$Color-Red-900 : #B71C1C;
$Color-Red-A100 : #FF8A80;
$Color-Red-A200 : #FF5252;
$Color-Red-A400 : #FF1744;
$Color-Red-A700 : #D50000;
$Color-Pink-50 : #FCE4EC;
$Color-Pink-100 : #F8BBD0;
$Color-Pink-200 : #F48FB1;
$Color-Pink-300 : #F06292;
$Color-Pink-400 : #EC407A;
$Color-Pink-500 : #E91E63;
$Color-Pink-600 : #D81B60;
$Color-Pink-700 : #C2185B;
$Color-Pink-800 : #AD1457;
$Color-Pink-900 : #880E4F;
$Color-Pink-A100 : #FF80AB;
$Color-Pink-A200 : #FF4081;
$Color-Pink-A400 : #F50057;
$Color-Pink-A700 : #C51162;
$Color-Purple-50 : #F3E5F5;
$Color-Purple-100 : #E1BEE7;
$Color-Purple-200 : #CE93D8;
$Color-Purple-300 : #BA68C8;
$Color-Purple-400 : #AB47BC;
$Color-Purple-500 : #9C27B0;
$Color-Purple-600 : #8E24AA;
$Color-Purple-700 : #7B1FA2;
$Color-Purple-800 : #6A1B9A;
$Color-Purple-900 : #4A148C;
$Color-Purple-A100 : #EA80FC;
$Color-Purple-A200 : #E040FB;
$Color-Purple-A400 : #D500F9;
$Color-Purple-A700 : #AA00FF;
$Color-DeepPurple-50 : #EDE7F6;
$Color-DeepPurple-100 : #D1C4E9;
$Color-DeepPurple-200 : #B39DDB;
$Color-DeepPurple-300 : #9575CD;
$Color-DeepPurple-400 : #7E57C2;
$Color-DeepPurple-500 : #673AB7;
$Color-DeepPurple-600 : #5E35B1;
$Color-DeepPurple-700 : #512DA8;
$Color-DeepPurple-800 : #4527A0;
$Color-DeepPurple-900 : #311B92;
$Color-DeepPurple-A100 : #B388FF;
$Color-DeepPurple-A200 : #7C4DFF;
$Color-DeepPurple-A400 : #651FFF;
$Color-DeepPurple-A700 : #6200EA;
$Color-Indigo-50 : #E8EAF6;
$Color-Indigo-100 : #C5CAE9;
$Color-Indigo-200 : #9FA8DA;
$Color-Indigo-300 : #7986CB;
$Color-Indigo-400 : #5C6BC0;
$Color-Indigo-500 : #3F51B5;
$Color-Indigo-600 : #3949AB;
$Color-Indigo-700 : #303F9F;
$Color-Indigo-800 : #283593;
$Color-Indigo-900 : #1A237E;
$Color-Indigo-A100 : #8C9EFF;
$Color-Indigo-A200 : #536DFE;
$Color-Indigo-A400 : #3D5AFE;
$Color-Indigo-A700 : #304FFE;
$Color-Blue-50 : #E3F2FD;
$Color-Blue-100 : #BBDEFB;
$Color-Blue-200 : #90CAF9;
$Color-Blue-300 : #64B5F6;
$Color-Blue-400 : #42A5F5;
$Color-Blue-500 : #2196F3;
$Color-Blue-600 : #1E88E5;
$Color-Blue-700 : #1976D2;
$Color-Blue-800 : #1565C0;
$Color-Blue-900 : #0D47A1;
$Color-Blue-A100 : #82B1FF;
$Color-Blue-A200 : #448AFF;
$Color-Blue-A400 : #2979FF;
$Color-Blue-A700 : #2962FF;
$Color-LightBlue-50 : #E1F5FE;
$Color-LightBlue-100 : #B3E5FC;
$Color-LightBlue-200 : #81D4FA;
$Color-LightBlue-300 : #4FC3F7;
$Color-LightBlue-400 : #29B6F6;
$Color-LightBlue-500 : #03A9F4;
$Color-LightBlue-600 : #039BE5;
$Color-LightBlue-700 : #0288D1;
$Color-LightBlue-800 : #0277BD;
$Color-LightBlue-900 : #01579B;
$Color-LightBlue-A100 : #80D8FF;
$Color-LightBlue-A200 : #40C4FF;
$Color-LightBlue-A400 : #00B0FF;
$Color-LightBlue-A700 : #0091EA;
$Color-Cyan-50 : #E0F7FA;
$Color-Cyan-100 : #B2EBF2;
$Color-Cyan-200 : #80DEEA;
$Color-Cyan-300 : #4DD0E1;
$Color-Cyan-400 : #26C6DA;
$Color-Cyan-500 : #00BCD4;
$Color-Cyan-600 : #00ACC1;
$Color-Cyan-700 : #0097A7;
$Color-Cyan-800 : #00838F;
$Color-Cyan-900 : #006064;
$Color-Cyan-A100 : #84FFFF;
$Color-Cyan-A200 : #18FFFF;
$Color-Cyan-A400 : #00E5FF;
$Color-Cyan-A700 : #00B8D4;
$Color-Teal-50 : #E0F2F1;
$Color-Teal-100 : #B2DFDB;
$Color-Teal-200 : #80CBC4;
$Color-Teal-300 : #4DB6AC;
$Color-Teal-400 : #26A69A;
$Color-Teal-500 : #009688;
$Color-Teal-600 : #00897B;
$Color-Teal-700 : #00796B;
$Color-Teal-800 : #00695C;
$Color-Teal-900 : #004D40;
$Color-Teal-A100 : #A7FFEB;
$Color-Teal-A200 : #64FFDA;
$Color-Teal-A400 : #1DE9B6;
$Color-Teal-A700 : #00BFA5;
$Color-Green-50 : #E8F5E9;
$Color-Green-100 : #C8E6C9;
$Color-Green-200 : #A5D6A7;
$Color-Green-300 : #81C784;
$Color-Green-400 : #66BB6A;
$Color-Green-500 : #4CAF50;
$Color-Green-600 : #43A047;
$Color-Green-700 : #388E3C;
$Color-Green-800 : #2E7D32;
$Color-Green-900 : #1B5E20;
$Color-Green-A100 : #B9F6CA;
$Color-Green-A200 : #69F0AE;
$Color-Green-A400 : #00E676;
$Color-Green-A700 : #00C853;
$Color-LightGreen-50 : #F1F8E9;
$Color-LightGreen-100 : #DCEDC8;
$Color-LightGreen-200 : #C5E1A5;
$Color-LightGreen-300 : #AED581;
$Color-LightGreen-400 : #9CCC65;
$Color-LightGreen-500 : #8BC34A;
$Color-LightGreen-600 : #7CB342;
$Color-LightGreen-700 : #689F38;
$Color-LightGreen-800 : #558B2F;
$Color-LightGreen-900 : #33691E;
$Color-LightGreen-A100 : #CCFF90;
$Color-LightGreen-A200 : #B2FF59;
$Color-LightGreen-A400 : #76FF03;
$Color-LightGreen-A700 : #64DD17;
$Color-Lime-50 : #F9FBE7;
$Color-Lime-100 : #F0F4C3;
$Color-Lime-200 : #E6EE9C;
$Color-Lime-300 : #DCE775;
$Color-Lime-400 : #D4E157;
$Color-Lime-500 : #CDDC39;
$Color-Lime-600 : #C0CA33;
$Color-Lime-700 : #AFB42B;
$Color-Lime-800 : #9E9D24;
$Color-Lime-900 : #827717;
$Color-Lime-A100 : #F4FF81;
$Color-Lime-A200 : #EEFF41;
$Color-Lime-A400 : #C6FF00;
$Color-Lime-A700 : #AEEA00;
$Color-Yellow-50 : #FFFDE7;
$Color-Yellow-100 : #FFF9C4;
$Color-Yellow-200 : #FFF59D;
$Color-Yellow-300 : #FFF176;
$Color-Yellow-400 : #FFEE58;
$Color-Yellow-500 : #FFEB3B;
$Color-Yellow-600 : #FDD835;
$Color-Yellow-700 : #FBC02D;
$Color-Yellow-800 : #F9A825;
$Color-Yellow-900 : #F57F17;
$Color-Yellow-A100 : #FFFF8D;
$Color-Yellow-A200 : #FFFF00;
$Color-Yellow-A400 : #FFEA00;
$Color-Yellow-A700 : #FFD600;
$Color-Amber-50 : #FFF8E1;
$Color-Amber-100 : #FFECB3;
$Color-Amber-200 : #FFE082;
$Color-Amber-300 : #FFD54F;
$Color-Amber-400 : #FFCA28;
$Color-Amber-500 : #FFC107;
$Color-Amber-600 : #FFB300;
$Color-Amber-700 : #FFA000;
$Color-Amber-800 : #FF8F00;
$Color-Amber-900 : #FF6F00;
$Color-Amber-A100 : #FFE57F;
$Color-Amber-A200 : #FFD740;
$Color-Amber-A400 : #FFC400;
$Color-Amber-A700 : #FFAB00;
$Color-Orange-50 : #FFF3E0;
$Color-Orange-100 : #FFE0B2;
$Color-Orange-200 : #FFCC80;
$Color-Orange-300 : #FFB74D;
$Color-Orange-400 : #FFA726;
$Color-Orange-500 : #FF9800;
$Color-Orange-600 : #FB8C00;
$Color-Orange-700 : #F57C00;
$Color-Orange-800 : #EF6C00;
$Color-Orange-900 : #E65100;
$Color-Orange-A100 : #FFD180;
$Color-Orange-A200 : #FFAB40;
$Color-Orange-A400 : #FF9100;
$Color-Orange-A700 : #FF6D00;
$Color-DeepOrange-50 : #FBE9E7;
$Color-DeepOrange-100 : #FFCCBC;
$Color-DeepOrange-200 : #FFAB91;
$Color-DeepOrange-300 : #FF8A65;
$Color-DeepOrange-400 : #FF7043;
$Color-DeepOrange-500 : #FF5722;
$Color-DeepOrange-600 : #F4511E;
$Color-DeepOrange-700 : #E64A19;
$Color-DeepOrange-800 : #D84315;
$Color-DeepOrange-900 : #BF360C;
$Color-DeepOrange-A100 : #FF9E80;
$Color-DeepOrange-A200 : #FF6E40;
$Color-DeepOrange-A400 : #FF3D00;
$Color-DeepOrange-A700 : #DD2C00;
$Color-Brown-50 : #EFEBE9;
$Color-Brown-100 : #D7CCC8;
$Color-Brown-200 : #BCAAA4;
$Color-Brown-300 : #A1887F;
$Color-Brown-400 : #8D6E63;
$Color-Brown-500 : #795548;
$Color-Brown-600 : #6D4C41;
$Color-Brown-700 : #5D4037;
$Color-Brown-800 : #4E342E;
$Color-Brown-900 : #3E2723;
$Color-Grey-50 : #FAFAFA;
$Color-Grey-100 : #F5F5F5;
$Color-Grey-200 : #EEEEEE;
$Color-Grey-300 : #E0E0E0;
$Color-Grey-400 : #BDBDBD;
$Color-Grey-500 : #9E9E9E;
$Color-Grey-600 : #757575;
$Color-Grey-700 : #616161;
$Color-Grey-800 : #424242;
$Color-Grey-900 : #212121;
$Color-BlueGrey-50 : #ECEFF1;
$Color-BlueGrey-100 : #CFD8DC;
$Color-BlueGrey-200 : #B0BEC5;
$Color-BlueGrey-300 : #90A4AE;
$Color-BlueGrey-400 : #78909C;
$Color-BlueGrey-500 : #607D8B;
$Color-BlueGrey-600 : #546E7A;
$Color-BlueGrey-700 : #455A64;
$Color-BlueGrey-800 : #37474F;
$Color-BlueGrey-900 : #263238;
$Color-Black : #000000;
$Color-White : #FFFFFF;