/*
Theme Name: Galaxy
Theme URI: http://www.protogalaxy.me/tag/galaxy/
Author: Arthur.Lee
Author URI: https://www.protogalaxy.me
Description:
Version: 1.0
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Tags: black , responsive
Text Domain: galaxy-domain
*/
/*========================================

#Format container

========================================*/
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 1024px) {
  .container {
    width: 970px; } }
@media (min-width: 1366px) {
  .container {
    width: 1170px; } }
@media (min-width: 1920px) {
  .container {
    width: 1700px; } }
@media (min-width: 2560px) {
  .container {
    width: 2400px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

/*========================================

#Format system

========================================*/
@media (min-width: 0) {
  .col-common-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-common-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-common-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-common-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-common-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-common-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-common-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-common-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-common-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-common-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-common-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-common-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-common-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-common-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-common-pull-3 {
    position: relative;
    right: 25%; }

  .col-common-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-common-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-common-pull-6 {
    position: relative;
    right: 50%; }

  .col-common-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-common-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-common-pull-9 {
    position: relative;
    right: 75%; }

  .col-common-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-common-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-common-pull-12 {
    position: relative;
    right: 100%; }

  .col-common-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-common-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-common-push-3 {
    position: relative;
    left: 25%; }

  .col-common-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-common-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-common-push-6 {
    position: relative;
    left: 50%; }

  .col-common-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-common-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-common-push-9 {
    position: relative;
    left: 75%; }

  .col-common-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-common-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-common-push-12 {
    position: relative;
    left: 100%; }

  .col-common-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-common-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-common-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-common-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-common-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-common-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-common-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-common-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-common-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-common-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-common-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-common-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-iPad-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-iPad-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-iPad-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-iPad-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-iPad-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-iPad-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-iPad-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-iPad-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-iPad-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-iPad-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-iPad-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-iPad-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-iPad-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-iPad-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-iPad-pull-3 {
    position: relative;
    right: 25%; }

  .col-iPad-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-iPad-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-iPad-pull-6 {
    position: relative;
    right: 50%; }

  .col-iPad-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-iPad-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-iPad-pull-9 {
    position: relative;
    right: 75%; }

  .col-iPad-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-iPad-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-iPad-pull-12 {
    position: relative;
    right: 100%; }

  .col-iPad-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-iPad-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-iPad-push-3 {
    position: relative;
    left: 25%; }

  .col-iPad-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-iPad-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-iPad-push-6 {
    position: relative;
    left: 50%; }

  .col-iPad-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-iPad-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-iPad-push-9 {
    position: relative;
    left: 75%; }

  .col-iPad-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-iPad-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-iPad-push-12 {
    position: relative;
    left: 100%; }

  .col-iPad-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-iPad-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-iPad-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-iPad-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-iPad-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-iPad-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-iPad-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-iPad-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-iPad-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-iPad-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-iPad-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-iPad-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 1024px) {
  .col-iPadPro-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-iPadPro-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-iPadPro-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-iPadPro-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-iPadPro-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-iPadPro-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-iPadPro-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-iPadPro-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-iPadPro-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-iPadPro-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-iPadPro-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-iPadPro-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-iPadPro-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-iPadPro-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-iPadPro-pull-3 {
    position: relative;
    right: 25%; }

  .col-iPadPro-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-iPadPro-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-iPadPro-pull-6 {
    position: relative;
    right: 50%; }

  .col-iPadPro-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-iPadPro-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-iPadPro-pull-9 {
    position: relative;
    right: 75%; }

  .col-iPadPro-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-iPadPro-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-iPadPro-pull-12 {
    position: relative;
    right: 100%; }

  .col-iPadPro-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-iPadPro-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-iPadPro-push-3 {
    position: relative;
    left: 25%; }

  .col-iPadPro-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-iPadPro-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-iPadPro-push-6 {
    position: relative;
    left: 50%; }

  .col-iPadPro-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-iPadPro-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-iPadPro-push-9 {
    position: relative;
    left: 75%; }

  .col-iPadPro-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-iPadPro-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-iPadPro-push-12 {
    position: relative;
    left: 100%; }

  .col-iPadPro-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-iPadPro-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-iPadPro-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-iPadPro-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-iPadPro-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-iPadPro-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-iPadPro-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-iPadPro-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-iPadPro-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-iPadPro-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-iPadPro-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-iPadPro-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 1366px) {
  .col-laptop-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-laptop-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-laptop-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-laptop-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-laptop-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-laptop-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-laptop-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-laptop-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-laptop-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-laptop-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-laptop-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-laptop-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-laptop-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-laptop-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-laptop-pull-3 {
    position: relative;
    right: 25%; }

  .col-laptop-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-laptop-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-laptop-pull-6 {
    position: relative;
    right: 50%; }

  .col-laptop-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-laptop-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-laptop-pull-9 {
    position: relative;
    right: 75%; }

  .col-laptop-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-laptop-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-laptop-pull-12 {
    position: relative;
    right: 100%; }

  .col-laptop-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-laptop-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-laptop-push-3 {
    position: relative;
    left: 25%; }

  .col-laptop-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-laptop-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-laptop-push-6 {
    position: relative;
    left: 50%; }

  .col-laptop-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-laptop-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-laptop-push-9 {
    position: relative;
    left: 75%; }

  .col-laptop-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-laptop-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-laptop-push-12 {
    position: relative;
    left: 100%; }

  .col-laptop-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-laptop-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-laptop-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-laptop-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-laptop-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-laptop-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-laptop-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-laptop-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-laptop-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-laptop-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-laptop-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-laptop-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 1920px) {
  .col-fhd-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-fhd-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-fhd-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-fhd-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-fhd-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-fhd-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-fhd-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-fhd-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-fhd-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-fhd-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-fhd-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-fhd-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-fhd-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-fhd-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-fhd-pull-3 {
    position: relative;
    right: 25%; }

  .col-fhd-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-fhd-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-fhd-pull-6 {
    position: relative;
    right: 50%; }

  .col-fhd-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-fhd-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-fhd-pull-9 {
    position: relative;
    right: 75%; }

  .col-fhd-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-fhd-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-fhd-pull-12 {
    position: relative;
    right: 100%; }

  .col-fhd-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-fhd-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-fhd-push-3 {
    position: relative;
    left: 25%; }

  .col-fhd-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-fhd-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-fhd-push-6 {
    position: relative;
    left: 50%; }

  .col-fhd-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-fhd-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-fhd-push-9 {
    position: relative;
    left: 75%; }

  .col-fhd-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-fhd-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-fhd-push-12 {
    position: relative;
    left: 100%; }

  .col-fhd-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-fhd-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-fhd-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-fhd-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-fhd-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-fhd-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-fhd-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-fhd-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-fhd-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-fhd-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-fhd-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-fhd-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 2560px) {
  .col-wqhd-1 {
    position: relative;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    float: left; }

  .col-wqhd-2 {
    position: relative;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    float: left; }

  .col-wqhd-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-wqhd-4 {
    position: relative;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left; }

  .col-wqhd-5 {
    position: relative;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    float: left; }

  .col-wqhd-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-wqhd-7 {
    position: relative;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    float: left; }

  .col-wqhd-8 {
    position: relative;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    float: left; }

  .col-wqhd-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-wqhd-10 {
    position: relative;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    float: left; }

  .col-wqhd-11 {
    position: relative;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    float: left; }

  .col-wqhd-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-wqhd-pull-1 {
    position: relative;
    right: 8.33333%; }

  .col-wqhd-pull-2 {
    position: relative;
    right: 16.66667%; }

  .col-wqhd-pull-3 {
    position: relative;
    right: 25%; }

  .col-wqhd-pull-4 {
    position: relative;
    right: 33.33333%; }

  .col-wqhd-pull-5 {
    position: relative;
    right: 41.66667%; }

  .col-wqhd-pull-6 {
    position: relative;
    right: 50%; }

  .col-wqhd-pull-7 {
    position: relative;
    right: 58.33333%; }

  .col-wqhd-pull-8 {
    position: relative;
    right: 66.66667%; }

  .col-wqhd-pull-9 {
    position: relative;
    right: 75%; }

  .col-wqhd-pull-10 {
    position: relative;
    right: 83.33333%; }

  .col-wqhd-pull-11 {
    position: relative;
    right: 91.66667%; }

  .col-wqhd-pull-12 {
    position: relative;
    right: 100%; }

  .col-wqhd-push-1 {
    position: relative;
    left: 8.33333%; }

  .col-wqhd-push-2 {
    position: relative;
    left: 16.66667%; }

  .col-wqhd-push-3 {
    position: relative;
    left: 25%; }

  .col-wqhd-push-4 {
    position: relative;
    left: 33.33333%; }

  .col-wqhd-push-5 {
    position: relative;
    left: 41.66667%; }

  .col-wqhd-push-6 {
    position: relative;
    left: 50%; }

  .col-wqhd-push-7 {
    position: relative;
    left: 58.33333%; }

  .col-wqhd-push-8 {
    position: relative;
    left: 66.66667%; }

  .col-wqhd-push-9 {
    position: relative;
    left: 75%; }

  .col-wqhd-push-10 {
    position: relative;
    left: 83.33333%; }

  .col-wqhd-push-11 {
    position: relative;
    left: 91.66667%; }

  .col-wqhd-push-12 {
    position: relative;
    left: 100%; }

  .col-wqhd-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .col-wqhd-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .col-wqhd-offset-3 {
    position: relative;
    margin-left: 25%; }

  .col-wqhd-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .col-wqhd-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .col-wqhd-offset-6 {
    position: relative;
    margin-left: 50%; }

  .col-wqhd-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .col-wqhd-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .col-wqhd-offset-9 {
    position: relative;
    margin-left: 75%; }

  .col-wqhd-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .col-wqhd-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .col-wqhd-offset-12 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 1920px) {
  .col-fhd-expand-1 {
    position: relative;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
    float: left; }

  .col-fhd-expand-2 {
    position: relative;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    float: left; }

  .col-fhd-expand-3 {
    position: relative;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
    float: left; }

  .col-fhd-expand-4 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-fhd-expand-5 {
    position: relative;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
    float: left; }

  .col-fhd-expand-6 {
    position: relative;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
    float: left; }

  .col-fhd-expand-7 {
    position: relative;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
    float: left; }

  .col-fhd-expand-8 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-fhd-expand-9 {
    position: relative;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
    float: left; }

  .col-fhd-expand-10 {
    position: relative;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
    float: left; }

  .col-fhd-expand-11 {
    position: relative;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
    float: left; }

  .col-fhd-expand-12 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-fhd-expand-13 {
    position: relative;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
    float: left; }

  .col-fhd-expand-14 {
    position: relative;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
    float: left; }

  .col-fhd-expand-15 {
    position: relative;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
    float: left; }

  .col-fhd-expand-16 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-fhd-expand-pull-1 {
    position: relative;
    right: 6.25%; }

  .col-fhd-expand-pull-2 {
    position: relative;
    right: 12.5%; }

  .col-fhd-expand-pull-3 {
    position: relative;
    right: 18.75%; }

  .col-fhd-expand-pull-4 {
    position: relative;
    right: 25%; }

  .col-fhd-expand-pull-5 {
    position: relative;
    right: 31.25%; }

  .col-fhd-expand-pull-6 {
    position: relative;
    right: 37.5%; }

  .col-fhd-expand-pull-7 {
    position: relative;
    right: 43.75%; }

  .col-fhd-expand-pull-8 {
    position: relative;
    right: 50%; }

  .col-fhd-expand-pull-9 {
    position: relative;
    right: 56.25%; }

  .col-fhd-expand-pull-10 {
    position: relative;
    right: 62.5%; }

  .col-fhd-expand-pull-11 {
    position: relative;
    right: 68.75%; }

  .col-fhd-expand-pull-12 {
    position: relative;
    right: 75%; }

  .col-fhd-expand-pull-13 {
    position: relative;
    right: 81.25%; }

  .col-fhd-expand-pull-14 {
    position: relative;
    right: 87.5%; }

  .col-fhd-expand-pull-15 {
    position: relative;
    right: 93.75%; }

  .col-fhd-expand-pull-16 {
    position: relative;
    right: 100%; }

  .col-fhd-expand-push-1 {
    position: relative;
    left: 6.25%; }

  .col-fhd-expand-push-2 {
    position: relative;
    left: 12.5%; }

  .col-fhd-expand-push-3 {
    position: relative;
    left: 18.75%; }

  .col-fhd-expand-push-4 {
    position: relative;
    left: 25%; }

  .col-fhd-expand-push-5 {
    position: relative;
    left: 31.25%; }

  .col-fhd-expand-push-6 {
    position: relative;
    left: 37.5%; }

  .col-fhd-expand-push-7 {
    position: relative;
    left: 43.75%; }

  .col-fhd-expand-push-8 {
    position: relative;
    left: 50%; }

  .col-fhd-expand-push-9 {
    position: relative;
    left: 56.25%; }

  .col-fhd-expand-push-10 {
    position: relative;
    left: 62.5%; }

  .col-fhd-expand-push-11 {
    position: relative;
    left: 68.75%; }

  .col-fhd-expand-push-12 {
    position: relative;
    left: 75%; }

  .col-fhd-expand-push-13 {
    position: relative;
    left: 81.25%; }

  .col-fhd-expand-push-14 {
    position: relative;
    left: 87.5%; }

  .col-fhd-expand-push-15 {
    position: relative;
    left: 93.75%; }

  .col-fhd-expand-push-16 {
    position: relative;
    left: 100%; }

  .col-fhd-expand-offset-1 {
    position: relative;
    margin-left: 6.25%; }

  .col-fhd-expand-offset-2 {
    position: relative;
    margin-left: 12.5%; }

  .col-fhd-expand-offset-3 {
    position: relative;
    margin-left: 18.75%; }

  .col-fhd-expand-offset-4 {
    position: relative;
    margin-left: 25%; }

  .col-fhd-expand-offset-5 {
    position: relative;
    margin-left: 31.25%; }

  .col-fhd-expand-offset-6 {
    position: relative;
    margin-left: 37.5%; }

  .col-fhd-expand-offset-7 {
    position: relative;
    margin-left: 43.75%; }

  .col-fhd-expand-offset-8 {
    position: relative;
    margin-left: 50%; }

  .col-fhd-expand-offset-9 {
    position: relative;
    margin-left: 56.25%; }

  .col-fhd-expand-offset-10 {
    position: relative;
    margin-left: 62.5%; }

  .col-fhd-expand-offset-11 {
    position: relative;
    margin-left: 68.75%; }

  .col-fhd-expand-offset-12 {
    position: relative;
    margin-left: 75%; }

  .col-fhd-expand-offset-13 {
    position: relative;
    margin-left: 81.25%; }

  .col-fhd-expand-offset-14 {
    position: relative;
    margin-left: 87.5%; }

  .col-fhd-expand-offset-15 {
    position: relative;
    margin-left: 93.75%; }

  .col-fhd-expand-offset-16 {
    position: relative;
    margin-left: 100%; } }
@media (min-width: 2560px) {
  .col-wqhd-expand-1 {
    position: relative;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
    float: left; }

  .col-wqhd-expand-2 {
    position: relative;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    float: left; }

  .col-wqhd-expand-3 {
    position: relative;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
    float: left; }

  .col-wqhd-expand-4 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left; }

  .col-wqhd-expand-5 {
    position: relative;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
    float: left; }

  .col-wqhd-expand-6 {
    position: relative;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
    float: left; }

  .col-wqhd-expand-7 {
    position: relative;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
    float: left; }

  .col-wqhd-expand-8 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left; }

  .col-wqhd-expand-9 {
    position: relative;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
    float: left; }

  .col-wqhd-expand-10 {
    position: relative;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
    float: left; }

  .col-wqhd-expand-11 {
    position: relative;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
    float: left; }

  .col-wqhd-expand-12 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    float: left; }

  .col-wqhd-expand-13 {
    position: relative;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
    float: left; }

  .col-wqhd-expand-14 {
    position: relative;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
    float: left; }

  .col-wqhd-expand-15 {
    position: relative;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
    float: left; }

  .col-wqhd-expand-16 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left; }

  .col-wqhd-expand-pull-1 {
    position: relative;
    right: 6.25%; }

  .col-wqhd-expand-pull-2 {
    position: relative;
    right: 12.5%; }

  .col-wqhd-expand-pull-3 {
    position: relative;
    right: 18.75%; }

  .col-wqhd-expand-pull-4 {
    position: relative;
    right: 25%; }

  .col-wqhd-expand-pull-5 {
    position: relative;
    right: 31.25%; }

  .col-wqhd-expand-pull-6 {
    position: relative;
    right: 37.5%; }

  .col-wqhd-expand-pull-7 {
    position: relative;
    right: 43.75%; }

  .col-wqhd-expand-pull-8 {
    position: relative;
    right: 50%; }

  .col-wqhd-expand-pull-9 {
    position: relative;
    right: 56.25%; }

  .col-wqhd-expand-pull-10 {
    position: relative;
    right: 62.5%; }

  .col-wqhd-expand-pull-11 {
    position: relative;
    right: 68.75%; }

  .col-wqhd-expand-pull-12 {
    position: relative;
    right: 75%; }

  .col-wqhd-expand-pull-13 {
    position: relative;
    right: 81.25%; }

  .col-wqhd-expand-pull-14 {
    position: relative;
    right: 87.5%; }

  .col-wqhd-expand-pull-15 {
    position: relative;
    right: 93.75%; }

  .col-wqhd-expand-pull-16 {
    position: relative;
    right: 100%; }

  .col-wqhd-expand-push-1 {
    position: relative;
    left: 6.25%; }

  .col-wqhd-expand-push-2 {
    position: relative;
    left: 12.5%; }

  .col-wqhd-expand-push-3 {
    position: relative;
    left: 18.75%; }

  .col-wqhd-expand-push-4 {
    position: relative;
    left: 25%; }

  .col-wqhd-expand-push-5 {
    position: relative;
    left: 31.25%; }

  .col-wqhd-expand-push-6 {
    position: relative;
    left: 37.5%; }

  .col-wqhd-expand-push-7 {
    position: relative;
    left: 43.75%; }

  .col-wqhd-expand-push-8 {
    position: relative;
    left: 50%; }

  .col-wqhd-expand-push-9 {
    position: relative;
    left: 56.25%; }

  .col-wqhd-expand-push-10 {
    position: relative;
    left: 62.5%; }

  .col-wqhd-expand-push-11 {
    position: relative;
    left: 68.75%; }

  .col-wqhd-expand-push-12 {
    position: relative;
    left: 75%; }

  .col-wqhd-expand-push-13 {
    position: relative;
    left: 81.25%; }

  .col-wqhd-expand-push-14 {
    position: relative;
    left: 87.5%; }

  .col-wqhd-expand-push-15 {
    position: relative;
    left: 93.75%; }

  .col-wqhd-expand-push-16 {
    position: relative;
    left: 100%; }

  .col-wqhd-expand-offset-1 {
    position: relative;
    margin-left: 6.25%; }

  .col-wqhd-expand-offset-2 {
    position: relative;
    margin-left: 12.5%; }

  .col-wqhd-expand-offset-3 {
    position: relative;
    margin-left: 18.75%; }

  .col-wqhd-expand-offset-4 {
    position: relative;
    margin-left: 25%; }

  .col-wqhd-expand-offset-5 {
    position: relative;
    margin-left: 31.25%; }

  .col-wqhd-expand-offset-6 {
    position: relative;
    margin-left: 37.5%; }

  .col-wqhd-expand-offset-7 {
    position: relative;
    margin-left: 43.75%; }

  .col-wqhd-expand-offset-8 {
    position: relative;
    margin-left: 50%; }

  .col-wqhd-expand-offset-9 {
    position: relative;
    margin-left: 56.25%; }

  .col-wqhd-expand-offset-10 {
    position: relative;
    margin-left: 62.5%; }

  .col-wqhd-expand-offset-11 {
    position: relative;
    margin-left: 68.75%; }

  .col-wqhd-expand-offset-12 {
    position: relative;
    margin-left: 75%; }

  .col-wqhd-expand-offset-13 {
    position: relative;
    margin-left: 81.25%; }

  .col-wqhd-expand-offset-14 {
    position: relative;
    margin-left: 87.5%; }

  .col-wqhd-expand-offset-15 {
    position: relative;
    margin-left: 93.75%; }

  .col-wqhd-expand-offset-16 {
    position: relative;
    margin-left: 100%; } }
/*========================================

#Format tools

========================================*/
.text-center {
  text-align: center; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

@media (min-width: 0) {
  .hidden-common {
    display: none !important; }

  .hidden-common-inline {
    display: inline !important; }

  .hidden-common-block {
    display: block !important; }

  .hidden-common-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) {
  .hidden-iPad {
    display: none !important; }

  .hidden-iPad-inline {
    display: inline !important; }

  .hidden-iPad-block {
    display: block !important; }

  .hidden-iPad-inline-block {
    display: inline-block !important; } }
@media (min-width: 1024px) {
  .hidden-iPadPro {
    display: none !important; }

  .hidden-iPadPro-inline {
    display: inline !important; }

  .hidden-iPadPro-block {
    display: block !important; }

  .hidden-iPadPro-inline-block {
    display: inline-block !important; } }
@media (min-width: 1366px) {
  .hidden-laptop {
    display: none !important; }

  .hidden-laptop-inline {
    display: inline !important; }

  .hidden-laptop-block {
    display: block !important; }

  .hidden-laptop-inline-block {
    display: inline-block !important; } }
@media (min-width: 1920px) {
  .hidden-fhd {
    display: none !important; }

  .hidden-fhd-inline {
    display: inline !important; }

  .hidden-fhd-block {
    display: block !important; }

  .hidden-fhd-inline-block {
    display: inline-block !important; } }
@media (min-width: 2560px) {
  .hidden-wqhd {
    display: none !important; }

  .hidden-wqhd-inline {
    display: inline !important; }

  .hidden-wqhd-block {
    display: block !important; }

  .hidden-wqhd-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; }

  .visible-print-inline {
    display: none !important; }

  .visible-print-block {
    display: none !important; }

  .visible-print-inline-block {
    display: none !important; } }
/*========================================

#Noto sans SC

========================================*/
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.otf) format("opentype");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
/*========================================

#Noto sans JP

========================================*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format("opentype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
/*========================================

#Noto sans EN

========================================*/
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/C7bP6N8yXZ-PGLzbFLtQKYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/iLJc6PpCnnbQjYc1Jq4v04X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/5pCv5Yz4eMu9gmvX8nNhfYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/gEkd0pn-sMtQ_P4HUpi6WIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/iPF-u8L1qkTPHaKjvXERn4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1w7aC6SjiAOpAWOKfJDfVRY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1xdwxCXfZpKo5kWAx_74bHs.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1yGUML8f7tzeB6gGvgki0bE.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ156vnaPZw6nYDxM4SVEMFKg.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1_y1_HTwRwgtl1cPga3Fy3Y.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ14joYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1xampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/*========================================

#PingFang SC

========================================*/
@font-face {
  font-family: "PingFang";
  font-style: normal;
  font-weight: 400;
  src: local("PingFangSC-Regular");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
@font-face {
  font-family: "PingFang";
  font-style: normal;
  font-weight: 700;
  src: local("PingFangSC-Semibold");
  unicode-range: U+4E00-62FF, U+6300-77FF, U+7800-8CFF, U+8D00-9FCC, U+3400-4DB5, U+20000-215FF, U+21600-230FF, U+23100-245FF, U+24600-260FF, U+26100-275FF, U+27600-290FF, U+29100-2A6DF, U+2A700-2B734, U+2B740-2B81D; }
/*========================================

#Helvetica Neue

========================================*/
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local("HelveticaNeue-UltraLight");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  src: local("HelveticaNeue-Thin");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local("HelveticaNeue-Light");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local("HelveticaNeue");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local("HelveticaNeue-Medium");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local("HelveticaNeue-Bold");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*========================================

#MS Mincho

========================================*/
@font-face {
  font-family: 'MS Mincho';
  font-style: normal;
  src: local("MS Mincho");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
/*========================================

#Hiragino Sans

========================================*/
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 100;
  src: local("HiraginoSans-W1");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 200;
  src: local("HiraginoSans-W2");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 300;
  src: local("HiraginoSans-W3");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 400;
  src: local("HiraginoSans-W4");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 500;
  src: local("HiraginoSans-W5");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 600;
  src: local("HiraginoSans-W6");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
@font-face {
  font-family: 'Hiragino Sans';
  font-style: normal;
  font-weight: 700;
  src: local("HiraginoSans-W7");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; }
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "'Noto Sans SC', 'Noto Sans JP', 'Noto Sans', 'Microsoft Yahei', 'PingFang', 'MS Mincho', 'Hiragino Sans', 'Helvetica Neue', 'sans-serif'"; }

body {
  background-color: #0E111E; }

/*========================================

Index page

========================================*/
.posts-container .post {
  color: #ABB2BE; }

/*========================================

Post page

========================================*/

/*# sourceMappingURL=style.css.map */
