/*
Theme Name: Galaxy
Theme URI: http://www.protogalaxy.me/tag/galaxy/
Author: Arthur.Lee
Author URI: https://www.protogalaxy.me
Description:
Version: 1.0
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Tags: black , responsive
Text Domain: galaxy-domain
*/
@import "variables";
@import "grid";
@import "fonts";
@import "content";

body{
  background-color : $galaxy-background;
}

/*========================================

Index page

========================================*/
.posts-container{
  .post{
    color : #ABB2BE;
    .post-header{
      .post-thumbnail{

      }
      .post-title-container{
        .post-title-single{

        }
        .post-title-index{

        }
      }
      .post-meta-container{
        .post-meta-time{

        }
        .post-meta-cat{

        }
        .post-meta-tags{

        }
        .post-meta-edit{

        }
      }
    }
    .post-content{

    }
  }
}

.galaxy-widget-title{

}

.galaxy-footer{

}

/*========================================

Post page

========================================*/
